<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>projeto #2</title>
</head>

<body>
  <h1>Lista de telefone</h1>
  <form action="/" method="POST">
    <div class=" mb-3 ">

      nome: <input type=" text " name=" nome ">

      email: <input type=" email " name=" email ">

      numero: <input type=" number " name=" telefone ">

      <div class=" modal-footer ">
        <input type="submit">
      </div>
  </form>
</body>

</html>